h1 {
  text-align: center;
  font-family: Georgia, "Merriweather Sans", serif;
  font-size: 400%
}
h1 {
  color: white
}
p {
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 120%
}
img {
  display:block;
  margin: auto;
  width: 40%
}
li {
  text-align: center;
  list-style-type: none;
  padding: 4px;
  font-family: Arial, "Times New Roman", serif;
  text-decoration: none;
}

body {
  background-color: #BCBFFF
}
