.title {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-family: Georgia, "Merriweather Sans", serif;
  font-size: 200%;
}
h1 {
  color: white;
}

p {
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 120%;
}
img {
  display:block;
  margin: auto;
  width: 40%;
  border: none;
}
li {
  text-align: center;
  padding: 4px;
  font-family: "Merriweather Sans", "Times New Roman", serif;
  text-decoration: none;
}

body {
  background-color: #BCBFFF;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #6D6E94;
}
li a:link {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: white;
  text-decoration: underline;
}

#nav li {
  list-style-type: none;
}
#nav {
  padding: 0;
  display: flex;
  flex-flow: column;
}

#container {
  width: 90%;
  margin:auto;
}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .worksamples img {
      display: block;
      width: 100%;
      margin-top: 0.5cm;
    }

    .worksamples {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 600px){

  #nav {
    flex-flow: row;
    justify-content: space-between;
    clear: both;
  }
  img {
    float: left;
  }
}
  @media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
      }
    }
