.title {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

nav a {
  color: #black;
  display: flex;
  text-decoration: none;
  padding: 30px 40px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #BCBFFF;
  margin: 0;
  padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

h1 {
  order: 2;
  font-size: 2em;
}

nav ul {
  display: none;
}

h1 {
  text-align: center;
  font-family: Georgia, "Merriweather Sans", serif;
  font-size: 200%;
 }
h1 {
  color: white;
}

h2 {
  text-align: center;
  font-family: Georgia, "Merriweather Sans", serif;
  font-size: 150%;
  color: black;
}
p {
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 120%;
}
img {
  display:block;
  margin: auto;
  width: 40%;
  border: none;
}
li {
  text-align: center;
  padding: 4px;
  font-family: "Merriweather Sans", "Times New Roman", serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: auto;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  overflow: hidden;
  background-color: #3B3F66;
}
li a:link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  display: block;
  color: white;
  text-decoration: underline;
}

#nav li {
  list-style-type: none;
}
#nav {
  padding: 0;
  display: flex;
  flex-flow: column;
}

#container {
  width: 90%;
  margin:auto;
}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }
    .image1{
      display:block;
    }

    .worksamples{
      display:block;
      margin:10px;
    }

    .image2{
      display:block;
      margin:10px;
    }

    nav ul{
      flex-flow:row;
    }
}


  @media screen and (min-width:1000px) {
  .main {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "d a a"
        "b b e"
        "c c c";
      }
.title{
  grid-area:a;
}

.WorkSamples{
  grid-area:b;
}

.section1 {
  grid-area:c;
}
.image1 {
  grid-area: d;
  width: 100%;
}
.image2 {
  grid-area: e;
}
    }

    @media screen and (min-width: 700px){

        nav ul {
            display: flex;
        }

        nav ul li {
            border-top: none;
        }

        .menu-trigger {
            display: none;
        }

        header h1 {
            order: 1;
        }

        nav {
            order: 2;
        }

    }
